@import 'tailwindcss';


@media print{
    body{
        visibility: hidden;
    }
    #Sticker{
        visibility: visible;
        position: absolute;
        left: 50%;
        top: 50%;    
    }
}

body{
    @apply bg-gray-50;
}

@layer base{
    td{
        @apply p-2 border-y border-y-gray-100;
    }

    tr{
        @apply hover:bg-gray-50
    }
}

@layer components{
    .TopBoxes{
        @apply w-9/11 p-3 bg-white border border-gray-200 rounded-xl;
    }
    .BottomBoxes{
        @apply w-1/3 min-w-63 h-full overflow-hidden bg-white border border-gray-200 rounded-xl;
    }
    .BottomBoxes>h1{
        @apply bg-white font-bold text-center text-2xl my-2;
    }

}

@theme{

    --animate-slide-up:slide-up 0.5s ease-in-out forwards;
    --animate-slide-left:slide-left 0.5s ease-in-out forwards;
    --animate-slide-down:slide-down 0.5s ease-in-out forwards;

    @keyframes slide-up {
        from{
            transform:translateY(90vh);
            opacity: 0.1;
        }
        to{
            transform:translateY(0vh);
            opacity: 1;
        }
    }

    @keyframes slide-left {
        from{
            transform:translateX(90vw);
            opacity: 0.1;
        }
        to{
            transform:translateX(0vw);
            opacity: 1;;
        }
    }

    @keyframes slide-down {
        from{
            transform:translateY(100vh);
        }
        to{
            transform:translateY(0vh);
        }
    }
}
