@import 'tailwindcss';


@media print{
    body{
        visibility: hidden;
    }
    #Sticker{
        visibility: visible;
        position: absolute;
        left: 50%;
        top: 50%;    
    }
}